#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  
  body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('https://plus.unsplash.com/premium_vector-1721913862190-f402d56224d4?q=80&w=1041&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')
      no-repeat center center fixed;
    background-size:cover;
  }
  
  .App {
    text-align: center;
    padding: 50px;
    color: #fff;
  }
  
  .form-container {
    background: rgba(45, 37, 37, 0.67);
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
  }
  
  form input {
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
  }
  
  form button {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  form button:hover {
    background-color: #0056b3;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
  
  .card {
    background: rgba(184, 160, 160, 0.807);
    color: rgb(26, 22, 22);
    margin: 15px;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 18px;
  }
  .card:hover {
    background-color: crimson;
  }
  